venv*
__pycache__
.ipynb_checkpoints
*.pth
*.egg-info
data
*_demo_*.png
wandb/*
*.csv
.env
*.safetensors
cached_tensors/cath_esmfold_feats.st
cached_tensors/uniref_esmfold_feats.st
cached_tensors/decoder_mlp.ckpt
artifacts
.vscode
*.out
*outputs
*wandb*
sampled/*
log_dir/*
*.hydra
*.log
